@mixin padding-container {
    padding: 50px 200px;
    @media screen and (max-width: 1759px){
        padding: 50px 150px;
    }
    @media screen and (max-width: 1322px){
        padding: 50px 50px;
    }
    @media screen and (max-width: 1112px){
        padding: 50px 5px;
    }
}