.container {
    @include padding-container;
    min-height: 70vh;

    &.row {
        display: flex;
        flex-direction: row;

        &.wrap {
            flex-wrap: wrap;
        }
    }

    &.error-page {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 50px;
        }

    }
}