footer {
    @include padding-container;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ECECEC;
    
    display: flex;
    justify-content: space-between;

    h3 {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    
    #footer-left {
        width: 30%;

        img {
            width: 200px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            text-align: justify;
        }
    }

    #footer-middle {
        width: max-content;
        margin: 0 80px;

        ul {
            list-style-type: none;

            li a {
                color: $font-color;
                text-decoration: none;
                font-size: 14px;
                transition: .3s ease;

                position: relative;

                &::before {
                    content: "\f105";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -20px;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    
    #footer-right {
        width: max-content;
        font-style: normal;

        ul {
            list-style-type: none;

            li {
                font-size: 14px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

}